<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-button class="btnRet" color="black" routerLink="/detali-order">
      <ion-icon class="icRet" name="caret-back"></ion-icon>
    </ion-button>
    <h1 class="tit">Detalle de Envío</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="ion-padding">
    <ion-item>
      <ion-label>Dirección de Entrega</ion-label>
      <ion-input placeholder="Escribe tu dirección" [(ngModel)]="direccionEntrega"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button id="Finish" class="btncon" (click)="placeOrder()">Ordenar</ion-button>
  </ion-toolbar>
</ion-footer>

<ion-toast trigger="Finish" message="Tu orden ha sido enviada" [duration]="3000" icon="globe" class="custom-toast"></ion-toast>