@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

ion-content {
  --background: white;
}

h1,
.btnRet {
  display: inline-block;
}

.tit {
  font-family: "Outfit", sans-serif;
  font-size: 35px;
  font-weight: 530;
  color: white;
  margin-top: 25px;
  margin-bottom: 30px;
}


.btnRet {
  --ripple-color: transparent;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px 0px 20px 5px;
  --border-radius: 100%;
  color: white;
  --box-shadow: none;
  font-size: auto;
}


.Tfoto {
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
}

.btnfoto {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  display: flex;
  margin: auto;
  --box-shadow: none;
  width: 100%;
  height: 45px;
  --border-radius: 50px;
  margin-bottom: 20px;
  --background: gray;
}

ion-select,
.label,
ion-input {
  font-family: "Outfit", sans-serif;
  font-size: 17px;
}


ion-input {
  margin-left: 175px;
}

.btncon {
  --box-shadow: none;
  --border-radius: 30px;
  height: 60px;
  width: 90%;
  font-size: 18px;
  --background: #37d153;
  margin: 15px 17px;
}

.header {
  --background: url('/assets/ImgDShipping/DS-head.png') 0 0/100% 170% no-repeat;
  height: 100px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

ion-footer {
  background: url('/assets/ImgDShipping/DS-footer.png') 0 0/100% 100% no-repeat;
  height: 140px;
}

.custom-toast {
  --background: #818181;
  --box-shadow: none;
  --color: #2f2f31;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
}
