<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- Botón de retroceso -->
 
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/" routerLink="../tabs"></ion-back-button>
    </ion-buttons> 
    <ion-title size="large">Kioskos</ion-title>
    <!-- Icono de carrito de compras -->
    <ion-buttons slot="end">
      <ion-button routerLink="../detali-order">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- Barra de búsqueda -->
  <ion-toolbar>
    <ion-searchbar (ionChange)="onSearch($event)" placeholder="Buscar producto"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="content-gris">
  <div class="pedido-container">
      <br>
      <div class="pedido-item">
          <div class="proveedor">
              <div class="proveedor-img">
                  <img src="" alt="Tienda 1">
              </div>
          </div>
      </div>
      <div class="pedido-item">
          <div class="proveedor">
              <div class="proveedor-img">
                  <img src="" alt="Tienda 2">
              </div>
          </div>
      </div>
      <div class="pedido-item">
          <div class="proveedor">
              <div class="proveedor-img">
                  <img src="./assets/sublime.jpg" alt="Tienda 3">
              </div>
          </div>
      </div>
      <div class="pedido-item">
        <div class="proveedor">
            <div class="proveedor-img">
                <img src="./assets/papas.jpg" alt="Tienda 3">
            </div>
        </div>
    </div>
  </div>
</ion-content>




