<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-button class="btnRet" color="black" (click)="goToStore()">
      <ion-icon class="icRet" name="caret-back"></ion-icon>
    </ion-button>
    <h1 class="tit">Detalle de Pedido</h1>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>

    @for (producto of productos; track producto.idProducto) {
      <ion-item-sliding>
        <ion-item>
          <ion-thumbnail slot="start">
            <img [src]="producto.imagenUrl" alt="{{ producto.nombreProducto }}">
          </ion-thumbnail>
          <ion-label>
            <h2>{{ producto.nombreProducto }}</h2>
            <p>Cantidad: {{ producto.quantity }}</p>
            <p>Precio: {{ producto.precio | currency }}</p>
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="removeItem(producto)">
            <ion-icon class="trash" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }

  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>Total:</p>
          <p>{{ total | currency }}</p>
        </ion-col>
        <ion-col>
          <ion-button class="btncon" (click)="continueToShipping()">Continuar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>