.total-container {
    text-align: center;
  }
  
  .total-container {
    text-align: center;
  }
  
  .footer-toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ion-content {
    background-color: white ;
    --background: rgb(216, 238, 241);
     
  }
  /*imágenes dentro de las cajas */
ion-thumbnail img {
    border-radius: 50%; 
  }
  
  ion-item {
    margin-bottom: 16px; 
    border-radius: 20px; 
    --background:  rgb(255, 174, 174);
  }
  
  
  /*lista */
  ion-list {
    background-color:  rgb(216, 238, 241); 
  }
  
  
  /* toolbar */
  ion-toolbar {
    --background:  rgb(149, 250, 175); 
  }
  ion-back-button {
    color: black; 
    background-color:   rgb(149, 250, 175);
    border-radius: 20px; 
  }
  .total-container p {
    color: black; 
  }

  ion-item {
    color: black; 
  }
  

 
  