@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

ion-content {
  --background: white;
}


h1,
.btnRet {
  display: inline-block;
}

.btnRet {
  --ripple-color: transparent;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px 0px 20px 5px;
  --border-radius: 100%;
  color: white;
  --box-shadow: none;
  font-size: auto;
}

.tit {
  font-family: "Outfit", sans-serif;
  font-size: 35px;
  font-weight: 530;
  color: white;
  margin-top: 25px;
  margin-bottom: 30px;
}

h2,
p {
  font-family: "Outfit", sans-serif;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.info {
  font-size: 15px;
  display: inline-block;
  padding-right: 30px;
  margin-bottom: 10px;
}

.ptot,.btncon{
  font-family: "Outfit", sans-serif;
  display: inline-block;
}

.btncon{
  --box-shadow: none;
  --border-radius: 30px;
  height: 60px;
  width: 150px;
  font-size: 18px;
  --background: #37d153;
}

.ptot{
  font-size: 20px;
  font-weight: 500;
  margin-top: 23px;
  margin-left: 10px;
}

.ptotp{
  margin-left: 35px;
}

ion-item-option{
  width: 80px;
  height: 99%;
  margin-top: 5px;
}

.trash{
  width: 50px;
  height: 50px; 
}

.header {
  --background: url('/assets/ImgDShipping/DS-head.png') 0 0/100% 170% no-repeat;
  height: 100px;
}

ion-footer {
  background: url('/assets/ImgDShipping/DS-footer.png') 0 0/100% 100% no-repeat;
  height: 140px;
}
