<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-button class="btnRet" color="black" routerLink="/store">
      <ion-icon class="icRet" name="caret-back"></ion-icon>
    </ion-button>
    <h1 class="tit">Detalle de Pedido</h1>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/ImgDetOrder/DO-casinocho.jpg" alt="Product Image">
        </ion-thumbnail>
        <ion-label>
          <h2>Casino de Chocolate</h2>
          <p class="info">Cantidad: </p>
          <p class="info">2</p>
          <p class="info">S/2.50</p>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger">
          <ion-icon class="trash" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/ImgDetOrder/DO-casinocho.jpg" alt="Product Image">
        </ion-thumbnail>
        <ion-label>
          <h2>Casino de Chocolate</h2>
          <p class="info">Cantidad: </p>
          <p class="info">2</p>
          <p class="info">S/2.50</p>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger">
          <ion-icon class="trash" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="ptot ptotl">Total:</p>
          <p class="ptot ptotp">S/20.0</p>
        </ion-col>
        <ion-col>
          <ion-button class="btncon" routerLink="/detali-shipping">Continuar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>