<ion-content class="container">
  <div class="ImgDis">
    <img src="/assets/ImgHis.png" alt="logo">
  </div>
    <div class="item-wrapper">
      <div class="item-box">
        <img src="./assets/casino.jpg" alt="Imagen de la tienda" class="item-image">
        <div class="item-description">
          <h2>Galleta Casino de menta</h2>
          <p>S/1.50</p>
          <p>Fecha de Pedido: 21-04-24</p>
        </div>  
      </div>
    </div>
    <div class="item-wrapper">
      <div class="item-box">
        <img src="./assets/brownie.jpg" alt="Imagen de la tienda" class="item-image">
        <div class="item-description">
          <h2>Brownie de chocolate</h2>
          <p>S/2.50</p>
          <p>Fecha de Pedido: 21-04-24</p>
        </div>  
      </div>
    </div>

    <div class="item-wrapper">
      <div class="item-box">
        <img src="./assets/sublime.jpg" alt="Imagen de la tienda" class="item-image">
        <div class="item-description">
          <h2>Chocolate Sublime</h2>
          <p>S/2.50</p>
          <p>Fecha de Pedido: 21-04-24</p>
        </div>   
      </div>
    </div>
</ion-content>
