<ion-header>
  <ion-toolbar color="primary">
    <ion-title>HISTORIAL DE PEDIDOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="item-wrapper">
      <div class="item-box">
        <img src="./assets/casino.jpg" alt="Imagen de la tienda" class="item-image">
        <div class="item-description">
          <h3>Galleta Casino de menta</h3>
          <p>S/1.50</p>
        </div>       
      </div>
    </div>
    <div class="item-wrapper">
      <div class="item-box">
        <img src="./assets/cocacola.jpg" alt="Imagen de la tienda" class="item-image">
        <div class="item-description">
          <h3>Coca Cola</h3>
          <p>S/3.00</p>
        </div>      
      </div>
    </div>
    <div class="item-wrapper">
      <div class="item-box">
        <img src="./assets/brownie.jpg" alt="Imagen de la tienda" class="item-image">
        <div class="item-description">
          <h3>Brownie de chocolate</h3>
          <p>S/2.50</p>
        </div>      
      </div>
    </div>
    <div class="item-wrapper">
      <div class="item-box">
        <img src="./assets/sublime.jpg" alt="Imagen de la tienda" class="item-image">
        <div class="item-description">
          <h3>Chocolate Sublime</h3>
          <p>S/2.50</p>
        </div>       
      </div>
    </div>
</ion-content>
