<ion-content [fullscreen]="true">
  <img class="imgucv" src="assets/ImgIntro/Intro-ucv.png" alt="Intro-logo">
  <img class="imglogo" src="assets/ImgIntro/Intro-logo.png" alt="Intro-logo">
  <p class="lbl1">¿LISTO PARA SUMERGIRTE EN LA DELICIA?</p>
  <p class="lbl2">DASHY la app de delivery que buscabas</p>
  <ion-button id="open-modal" color="#FC6060" class="btngo">
    EMPEZAR
  </ion-button>

  <ion-modal trigger="open-modal" [initialBreakpoint]="0.4" [breakpoints]="[0, 0.4]">
    <ng-template>
      <ion-list lines="none">
        <ion-item>
          <ion-label>Ingresa con tu número de Dni</ion-label>
        </ion-item>

        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <ion-item>
            <ion-icon slot="start" name="person-circle-outline" color="white"></ion-icon>
            <ion-input formControlName="dni" type="text" placeholder="Dni">
          </ion-input>
          </ion-item>

          <ion-item class="iipass">
            <ion-icon slot="start" name="key" color="white"></ion-icon>
            <ion-input formControlName="password" type="password" placeholder="••••••••••••">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>

            </ion-input>
          </ion-item>

          <ion-item>
            <ion-button type="submit" class="btnlog" color="#FC6060">
              Ingresar
            </ion-button>
          </ion-item>
        </form>

      </ion-list>
    </ng-template>
  </ion-modal>

</ion-content>