<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <img src="assets/casino.jpg" alt="Pescado" class="product-image">
        </ion-col>
        <ion-col size="9">
          <h2>Producto 1</h2>
          <p>Costo: S/ 20.00</p>
          <p>Cantidad: 2</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <img src="assets/pollo-chuco.jpg" alt="Pollo-chuco" class="product-image">
        </ion-col>
        <ion-col size="9">
          <h2>Producto 2</h2>
          <p>Costo: S/ 15.00</p>
          <p>Cantidad: 3</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col>
      <h2 class="hTotal">TOTAL:</h2>
    </ion-col>
    <ion-col>
      <h2 class="hTotal">S/ 70.00</h2>
    </ion-col>
  </ion-row>

  <ion-row class="rowDetalle">
    <ion-col>
      <p>DETALLE DE ENVÍO</p>
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col>
      <p>Piso:</p>
    </ion-col>
    <ion-col>
      <p class="parrafoD">3</p>
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col>
      <p>Pabellón:</p>
    </ion-col>
    <ion-col>
      <p class="parrafoD">A</p>
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col>
      <p>Aula:</p>
    </ion-col>
    <ion-col>
      <p class="parrafoD">101</p>
    </ion-col>
  </ion-row>
</ion-content>