<ion-content [fullscreen]="true">
    <div class="header">
        <p class="ptit">PEDIDOS</p>
        <P class="psub">PENDIENTES</P>
    </div>
    <img class="imgOPedding" src="/assets/ImgOPedding/OPedding.png" alt="store">
    <ion-list lines="none" class="main">
        <ion-item lines="none">
            <ion-card>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <img class="imgBanner" alt="Banner2" src="/assets/ImgOPedding/OPBanner.png" />
                        </ion-col>
                        <ion-col>
                            <ion-card-title>Proveedor:</ion-card-title>
                            <ion-card-subtitle>Kiosco</ion-card-subtitle>
                            <ion-button id="modal" class="btnview" color="#72C28F">
                                <ion-icon name="eye"></ion-icon>
                            </ion-button>

                            <ion-modal #modal trigger="modal">
                                <ng-template>
                                    <ion-content>
                                        <ion-toolbar>
                                            <ion-title>DETALLE DE PEDIDO</ion-title>
                                            
                                        </ion-toolbar>
                                        <ion-list>
                                            <ion-item>
                                                <ion-avatar slot="start">
                                                    <ion-img src="assets/ImgOPDetails/OPD-casino.jpg"></ion-img>
                                                </ion-avatar>
                                                <ion-label>
                                                    <h2>Galleta Casino de Menta</h2>
                                                    <h3>Precio:</h3>
                                                    <h3>S/0.8</h3>
                                                </ion-label>
                                            </ion-item>
                                            <ion-item>
                                                <ion-avatar slot="start">
                                                    <ion-img src="assets/ImgOPDetails/OPD-hamburguesa.png"></ion-img>
                                                </ion-avatar>
                                                <ion-label>
                                                    <h2>Hamburguesa de carne</h2>
                                                    <h3>Precio:</h3>
                                                    <h3>S/3.5</h3>
                                                </ion-label>
                                            </ion-item>
                                            <ion-item>
                                                <ion-avatar slot="start">
                                                    <ion-img src="assets/ImgOPDetails/OPD-cocacola.jpg"></ion-img>
                                                </ion-avatar>
                                                <ion-label>
                                                    <h2>Coca Cola 500ml.</h2>
                                                    <h3>Precio:</h3>
                                                    <h3>S/2.5</h3>
                                                </ion-label>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label>
                                                    <h3>Total:</h3>
                                                    <h3>S/8.5</h3>
                                                </ion-label>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label>
                                                    <h3>Piso:</h3>
                                                    <h3>2</h3>
                                                </ion-label>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label>
                                                    <h3>Pabellón:</h3>
                                                    <h3>A</h3>
                                                </ion-label>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label>
                                                    <h3>Aula (opcional):</h3>
                                                    <h3>301</h3>
                                                </ion-label>
                                            </ion-item>
                                        </ion-list>
                                    </ion-content>
                                </ng-template>
                            </ion-modal>

                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>