<ion-content [fullscreen]="true">
  <div class="header">
    <img class="imgPLog" src="/assets/ImgProfile/Pprofile.png" alt="profile">
    <p class="ptit">PERFIL DE</p>
    <P class="psub">USUARIO</P>
  </div>
  <ion-list lines="none">
    <ion-item class="iitem iitemlog">
      <img class="imgPro" src="/assets/ImgProfile/Profile-foto.jpg" alt="profile">
      <p class="pname">Jesús Alexis Pariona Cáceres</p>
    </ion-item>
    <ion-item class="iitem">
      <ion-icon color="success" slot="start" name="person-circle" size="large"></ion-icon>
      <ion-label class="label">Usuario</ion-label>
      <ion-note class="note" slot="end">jparionaca01</ion-note>
    </ion-item>
    <ion-item class="iitem">
      <ion-icon color="success" slot="start" name="school" size="large"></ion-icon>
      <ion-label class="label">Carrera</ion-label>
      <ion-note class="note" slot="end">Ingeniería de Sistemas</ion-note>
    </ion-item>
    <ion-item class="iitem">
      <ion-icon color="success" slot="start" name="call" size="large"></ion-icon>
      <ion-label class="label">Celular</ion-label>
      <ion-note class="note" slot="end">987654321</ion-note>
    </ion-item>
    <ion-button class="btnclose" (click)="presentActionSheet()" >Cerrar Sesión</ion-button>
  </ion-list>
</ion-content>