  <ion-content [fullscreen]="true">
    <div>
      <img src="./assets/perfil.jpg" alt="perfil">
    </div>
    <ion-item class="general ion-padding">
      <div>
        <div>
          <ion-item class="iitem">
            <ion-label class="UserName">Jesús Alexis Pariona Cáceres</ion-label>
            </ion-item>
          </div>
        <div> 
          <ion-item class="iitem">
            <ion-label>Usuario:</ion-label>
            <ion-label>jparionaca01</ion-label>
          </ion-item>
        </div>
          <div>
            <ion-item class="iitem">
              <ion-label>Carrera:</ion-label>
              <ion-label>Ingeniería de Sistemas</ion-label>
            </ion-item>
          </div>
        <div>
            <ion-item class="iitem">
              <ion-label>Celular:</ion-label>
              <ion-label>979275552</ion-label>
            </ion-item>
        </div>
          <div>
            <ion-item class="iitem">
              <ion-label>Ciclo:</ion-label>
              <ion-label>7</ion-label>
            </ion-item>
        </div>
     </div>
    </ion-item>
  </ion-content>
