<ion-content [fullscreen]="true">
  <div class="header">
    <p class="ptit">TIENDAS</p>
    <P class="psub">DISPONIBLES</P>
  </div>
  <img class="imgHstore" src="/assets/ImgStore/Home-store.png" alt="store">
  <ion-list lines="none">
    <div class="slSwip">
      <swiper-container autoplay loop>
        <swiper-slide><img src="/assets/ImgStore/Info1.png" alt="Info1"></swiper-slide>
        <swiper-slide><img src="/assets/ImgStore/Info2.png" alt="Info2"></swiper-slide>
        <swiper-slide><img src="/assets/ImgStore/Info3.png" alt="Info3"></swiper-slide>
      </swiper-container>
    </div>

    @for (tienda of tiendas; track tienda.idTienda) {
      <ion-item lines="none">
        <ion-card [routerLink]="['/store', tienda.idTienda]" button>
          <img [src]="tienda.imagenUrl" alt="{{ tienda.nombreTienda }}">
          <ion-card-header>
            <ion-card-title>{{ tienda.nombreTienda }}</ion-card-title>
            <ion-card-subtitle>{{ tienda.direccion }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-item>
    }
    <!-- <ion-item *ngFor="let tienda of tiendas; track tienda.idTienda">
      <ion-card [routerLink]="['/store', tienda.idTienda]" button>
        <img [src]="tienda.imagenUrl" alt="{{ tienda.nombreTienda }}">
        <ion-card-header>
          <ion-card-title>{{ tienda.nombreTienda }}</ion-card-title>
          <ion-card-subtitle>{{ tienda.direccion }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-item> -->

  </ion-list>
</ion-content>