@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


.ImgDis{
  margin: 15px 0px 15px 0px;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 26px;
  font-weight: 550;
  font-style: bolder;
}

.item-wrapper {
  position: relative; /* Agregamos posición relativa para que el botón pueda ser posicionado de forma absoluta */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.pizza{
  background-image: url('/assets/Boton-pizza.png'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center;
  border-radius: 20px;
}

.jugo{
  background-image: url('/assets/Boton-jugo.png'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center;
  border-radius: 20px;
}

.pollo{
  background-image: url('/assets/Boton-pollo.png'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center;
  border-radius: 20px;
}

.kiosco{
  background-image: url('/assets/Boton-Dulce.png'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center;
  border-radius: 20px;
}


.item-box:hover {
  transform: translateY(-5px);
}

.item-box {
  position: relative; /* Agregamos posición relativa para que el botón pueda ser posicionado de forma absoluta */
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  margin: 0 10px 20px 10px;
  transition: transform 0.3s ease;
}

.item-image {
  width: 100px;
  height: 100px;
  border-radius: 30%;
  margin-right: 20px;
}

.item-description {
  font-family: "Nunito Sans", sans-serif;
  flex-grow: 1;
  text-align: left;
}

ion-button {
  position: absolute; 
  top: -10px;
  right: -5px;
  background-color:  #FD487E;  
  color: #fff;  
  border: none;  
  width: 70px;  
  height: 40px;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  transition: background-color 0.3s ease;  
}

 
