
<ion-content class="container">
  <div class="ImgDis">
    <img src="/assets/TiendasDis.png" alt="logo">
  </div>
    <div class="item-wrapper">
      <div class="item-box kiosco">
        <img src="./assets/kiosco.jpg" alt="Imagen de la tienda" class="item-image">
        <div class="item-description">
          <h2>Kioscos</h2>
          <p>Golosinas y comidas rápidas.</p>
        </div>
        <ion-button color="#4895FD" routerLink="/store">
          <ion-icon name="arrow-forward"></ion-icon> 
        </ion-button>        
      </div>
    </div>
    <div class="item-wrapper">
      <div class="item-box jugo">
        <img src="./assets/jugueria.jpg" alt="Imagen de la tienda" class="item-image">
        <div class="item-description">
          <h2>Jugos</h2>
          <p>Jugos con distintos sabores deliciosos.</p>
        </div>
        <ion-button color="#4895FD">
          <ion-icon name="arrow-forward"></ion-icon> 
        </ion-button>        
      </div>
    </div>
    <div class="item-wrapper">
      <div class="item-box pizza">
        <img src="./assets/pizza.jpg" alt="Imagen de la tienda" class="item-image">
        <div class="item-description">
          <h2>Pizzas</h2>
          <p>Pizzas personales de diversos sabores.</p>
        </div>
        <ion-button color="#4895FD">
          <ion-icon name="arrow-forward"></ion-icon> 
        </ion-button>        
      </div>
    </div>

    <div class="item-wrapper">
      <div class="item-box pollo">
        <img src="./assets/pizza.jpg" alt="Imagen de la tienda" class="item-image">
        <div class="item-description">
          <h2>Polleria</h2>
          <p>Comidas rápidas y parrillas.</p>
        </div>
        <ion-button color="#4895FD">
          <ion-icon name="arrow-forward"></ion-icon> 
        </ion-button>        
      </div>
    </div>
</ion-content>
